@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../src/fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../src/fonts/PlusJakartaSans/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
  font-size: var(--font-size-m);
  color: #000000;
}

button,
input,
textarea,
select {
  outline: none;
  color: inherit;
}

*::placeholder {
  color: inherit;
}

img,
video {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-xs {
  font-size: var(--font-size-xs, 10px);
}

.text-s {
  font-size: var(--font-size-s, 12px);
}

.text-m {
  font-size: var(--font-size-m, 16px);
}

.text-l {
  font-size: var(--font-size-l, 20px);
}

.text-xl {
  font-size: var(--font-size-xl, 24px);
}

.text-2xl {
  font-size: var(--font-size-2xl, 28px);
}

.text-3xl {
  font-size: var(--font-size-3xl, 32px);
}

.text-4xl {
  font-size: var(--font-size-4xl, 36px);
}

.text-5xl {
  font-size: var(--font-size-5xl, 40px);
}

.text-6xl {
  font-size: var(--font-size-6xl, 44px);
}

.text-7xl {
  font-size: var(--font-size-7xl, 48px);
}

.text-8xl {
  font-size: var(--font-size-8xl, 52px);
}

.text-9xl {
  font-size: var(--font-size-9xl, 56px);
}

@media (min-width: 360px) {
  :root {
    --font-size-xs: 11px;
    --font-size-s: 13px;
    --font-size-m: 17px;
    --font-size-l: 21px;
    --font-size-xl: 25px;
    --font-size-2xl: 29px;
    --font-size-3xl: 33px;
    --font-size-4xl: 37px;
    --font-size-5xl: 41px;
    --font-size-6xl: 45px;
    --font-size-7xl: 49px;
    --font-size-8xl: 53px;
    --font-size-9xl: 57px;
  }
}
@media (min-width: 600px) {
  :root {
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 28px;
    --font-size-2xl: 32px;
    --font-size-3xl: 36px;
    --font-size-4xl: 40px;
    --font-size-5xl: 44px;
    --font-size-6xl: 48px;
    --font-size-7xl: 52px;
    --font-size-8xl: 56px;
    --font-size-9xl: 60px;
  }
}
@media (min-width: 768px) {
  :root {
    --font-size-xs: 13px;
    --font-size-s: 15px;
    --font-size-m: 19px;
    --font-size-l: 25px;
    --font-size-xl: 29px;
    --font-size-2xl: 33px;
    --font-size-3xl: 37px;
    --font-size-4xl: 41px;
    --font-size-5xl: 45px;
    --font-size-6xl: 49px;
    --font-size-7xl: 53px;
    --font-size-8xl: 57px;
    --font-size-9xl: 61px;
  }
}
@media (min-width: 900px) {
  :root {
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 28px;
    --font-size-xl: 32px;
    --font-size-2xl: 36px;
    --font-size-3xl: 40px;
    --font-size-4xl: 44px;
    --font-size-5xl: 48px;
    --font-size-6xl: 52px;
    --font-size-7xl: 56px;
    --font-size-8xl: 60px;
    --font-size-9xl: 64px;
  }
}
@media (min-width: 1024px) {
  :root {
    --font-size-xs: 15px;
    --font-size-s: 17px;
    --font-size-m: 21px;
    --font-size-l: 30px;
    --font-size-xl: 34px;
    --font-size-2xl: 38px;
    --font-size-3xl: 42px;
    --font-size-4xl: 46px;
    --font-size-5xl: 50px;
    --font-size-6xl: 54px;
    --font-size-7xl: 58px;
    --font-size-8xl: 62px;
    --font-size-9xl: 66px;
  }
}
@media (min-width: 1200px) {
  :root {
    --font-size-xs: 16px;
    --font-size-s: 18px;
    --font-size-m: 24px;
    --font-size-l: 32px;
    --font-size-xl: 36px;
    --font-size-2xl: 40px;
    --font-size-3xl: 44px;
    --font-size-4xl: 48px;
    --font-size-5xl: 52px;
    --font-size-6xl: 56px;
    --font-size-7xl: 60px;
    --font-size-8xl: 64px;
    --font-size-9xl: 68px;
  }
}
@media (min-width: 1440px) {
  :root {
    --font-size-xs: 18px;
    --font-size-s: 20px;
    --font-size-m: 26px;
    --font-size-l: 34px;
    --font-size-xl: 38px;
    --font-size-2xl: 42px;
    --font-size-3xl: 46px;
    --font-size-4xl: 50px;
    --font-size-5xl: 54px;
    --font-size-6xl: 58px;
    --font-size-7xl: 62px;
    --font-size-8xl: 66px;
    --font-size-9xl: 70px;
  }
}
@media (min-width: 1600px) {
  :root {
    --font-size-xs: 20px;
    --font-size-s: 22px;
    --font-size-m: 28px;
    --font-size-l: 36px;
    --font-size-xl: 40px;
    --font-size-2xl: 44px;
    --font-size-3xl: 48px;
    --font-size-4xl: 52px;
    --font-size-5xl: 56px;
    --font-size-6xl: 60px;
    --font-size-7xl: 64px;
    --font-size-8xl: 68px;
    --font-size-9xl: 72px;
  }
}
section#projects, section#about, section#intro, section#services, section#projects, section#skills {
  padding: 2em 8px;
}
section div.content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
section h1.sectionHeader {
  text-align: center;
  font-size: var(--font-size-3xl, 32px);
  font-weight: 900;
}

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 360px) {
  .container {
    max-width: 320px;
  }
}
@media (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 840px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

body {
  background: linear-gradient(90deg, #ffffff 0%, #d0d0d0 100%);
}

header {
  background-color: #ffffff;
}

.dark body {
  color: #ffffff;
  background: linear-gradient(90deg, #000000 0%, #212121 100%);
}
.dark header {
  background-color: #000000;
}
.dark header nav.menu div.rightContainer svg.toggleTheme path,
.dark header nav.menu div.rightContainer svg.toggleMenu path {
  stroke: #ffffff;
  fill: #ffffff;
}
.dark header nav.menu div.rightContainer svg.toggleTheme circle,
.dark header nav.menu div.rightContainer svg.toggleMenu circle {
  stroke: #ffffff;
}
.dark div.popUpMenu {
  background-color: black;
}
.dark div.popUpMenu div.buttonContainer svg.closeMenu path {
  stroke: #ffffff;
  fill: #ffffff;
}
.dark div.popUpMenu div.buttonContainer svg.closeMenu circle {
  stroke: #ffffff;
}
.dark a.button,
.dark div.button {
  outline-color: #000000;
  color: #ffffff;
}
.dark a.button:hover,
.dark div.button:hover {
  outline-color: #ffffff;
}
.dark a.button.solid,
.dark div.button.solid {
  background: #000000;
}
.dark a.button.hasIcon span.icon svg path,
.dark div.button.hasIcon span.icon svg path {
  fill: #ffffff;
}
.dark a.socialIcon.stroke {
  border-color: #ffffff;
}
.dark a.socialIcon svg {
  fill: #ffffff;
}
.dark a.socialIcon svg path {
  fill: inherit;
}
.dark section#intro div.container div.content div.text div.greeting div.profession div.line {
  background: linear-gradient(270deg, #000000 0%, #212121 100%);
}
.dark section#about div.container div.content div.glass {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.1);
}
.dark section#about div.container div.content div.glass div.glassItem svg path {
  stroke: #ffffff;
  fill: #ffffff;
}
.dark section#about div.container div.content div.glass div.glassItem svg circle {
  stroke: #ffffff;
}
.dark section#about div.container div.content div.counters div.counterSplitter {
  background: linear-gradient(315deg, #000000 0%, #212121 100%);
}
.dark div.backgroundItem div.backgroundDatas div.backgroundDataItem {
  color: #a1a1a1;
}
.dark div.backgroundItem div.line {
  background: linear-gradient(270deg, #000000 0%, #212121 100%);
}
.dark section#skills div.container div.content div.slider div.customSwiper div.swiper-wrapper div.customSlider div.skillComponent {
  box-shadow: 2px 2px 8px -2px rgba(255, 255, 255, 0.1);
  background-color: #212121;
}
.dark section#skills div.container div.content div.slider div.customPagination span.prevBullet,
.dark section#skills div.container div.content div.slider div.customPagination span.nextBullet {
  background-color: rgba(255, 255, 255, 0.75);
}
.dark section#skills div.container div.content div.slider div.customPagination span.prevPrevBullet,
.dark section#skills div.container div.content div.slider div.customPagination span.nextNextBullet {
  background-color: rgba(255, 255, 255, 0.5);
}
.dark section#skills div.container div.content div.contactInfo div.avatar {
  box-shadow: 6px 6px 12px -2px rgba(255, 255, 255, 0.1);
}
.dark section#skills div.container div.content div.contactInfo div.card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.1);
}
.dark section#skills div.container div.content div.contactInfo div.card div.socialIcons {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.dark section#services {
  background-color: #000000;
}
.dark section#services div.container div.content div.services div.service div.image div.screen {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.1);
}
.dark div.projectContainer {
  box-shadow: 8px 8px 8px 0px rgba(66, 66, 66, 0.25);
}
.dark div.projectContainer a div.bottom span.name {
  color: #000000;
}
.dark div.projectContainer a div.bottom svg {
  fill: #000000;
}
.dark div.projectContainer a div.bottom svg path {
  fill: inherit;
}
.dark div.projectContainer a div.overlay {
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
}
.dark footer {
  background-color: #000000;
}

* {
  transition: color 100ms;
}

div.popUpMenu {
  animation: popUpMenu 1s cubic-bezier(0, 1, 1, 1) both;
}

section#intro .content {
  opacity: 0;
}
section#intro .animated .content {
  animation: fadeIn 2s linear both;
}

section#about div.glass,
section#about div.counterItem,
section#about h2,
section#about div.backgroundItem {
  opacity: 0;
}
section#about .animated div.glass {
  animation: aboutGlass 1s linear both;
}
section#about .animated div.counterItem {
  animation: fadeIn 1s linear both;
}
section#about .animated h2 {
  animation: slideLTR 1s linear both;
}
section#about .animated div.backgroundItem {
  animation: slideLTR 1s 500ms linear both;
}

section#skills div.avatar,
section#skills div.card,
section#skills div.slider {
  opacity: 0;
}
section#skills .animated div.slider {
  animation: fadeIn 1s linear both;
}
section#skills .animated div.avatar {
  animation: fadeIn 1s linear both;
}
section#skills .animated div.card {
  animation: fadeIn 1s linear both;
}

section#services div.service {
  opacity: 0;
}
section#services .animated div.service {
  animation: slideRTL 1s linear both;
}
section#services .animated div.service.service2, section#services .animated div.service.service4 {
  animation: slideLTR 1s linear both;
}

section#projects div.projectContainer,
section.projects div.projectContainer {
  opacity: 0;
}
section#projects .animated div.projectContainer,
section.projects .animated div.projectContainer {
  animation: fadeIn 1s linear both;
  animation-delay: calc(var(--order) * 250ms);
}

@media (min-width: 1024px) {
  section#about div.experiences .animated h2 {
    animation: slideRTL 1s linear both;
  }
  section#about div.experiences .animated div.backgroundItem {
    animation: slideRTL 1s 500ms linear both;
  }
}
@keyframes slideLTR {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
  }
}
@keyframes slideRTL {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes popUpMenu {
  0% {
    opacity: 0;
    scale: 0;
    transform: translateY(-100vh);
    filter: blur(8px);
  }
  30% {
    scale: 0.8;
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
  100% {
    scale: 1;
  }
}
@keyframes aboutGlass {
  0% {
    opacity: 0;
    scale: 0;
    filter: blur(8px);
  }
  80% {
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
    filter: blur(0px);
  }
}
a.button,
div.button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 12px;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  color: #000000;
  font-size: var(--font-size-xs, 10px);
  font-weight: 900;
  cursor: pointer;
  transition: all 0.25s;
}
a.button:hover,
div.button:hover {
  outline-color: #000000;
}

a.button.solid,
div.button.solid {
  background: #ffffff;
}

a.button.hasIcon,
div.button.hasIcon {
  display: inline-flex;
  align-items: center;
  gap: 1em;
}
a.button.hasIcon span.icon,
div.button.hasIcon span.icon {
  display: flex;
  align-items: center;
}
a.button.hasIcon span.icon svg,
div.button.hasIcon span.icon svg {
  width: 1em;
  height: 1em;
}
a.button.hasIcon span.icon svg path,
div.button.hasIcon span.icon svg path {
  fill: #000000;
}

a.socialIcon {
  display: inline-flex;
  width: 2em;
  height: 2em;
  padding: 0.4em;
}
a.socialIcon.stroke {
  align-items: center;
  justify-content: center;
  border: 2px dashed #000000;
  border-radius: 50%;
}
a.socialIcon:hover svg {
  scale: 1.2;
}
a.socialIcon svg {
  width: 1em;
  height: 1em;
  transition: 0.25s;
  fill: #000000;
}
a.socialIcon svg path {
  fill: inherit;
}

header {
  padding: 8px;
}
header nav.menu {
  display: flex;
  justify-content: space-between;
}
header nav.menu a.link {
  font-size: var(--font-size-m, 16px);
  font-weight: 900;
}
header nav.menu a.link.logo {
  font-size: var(--font-size-l, 20px);
}
header nav.menu a.link:not(.logo) {
  display: none;
}
header nav.menu div.rightContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
header nav.menu div.rightContainer svg.toggleTheme {
  width: 24px;
  height: 24px;
}
header nav.menu div.rightContainer svg.toggleMenu {
  width: 24px;
  height: 24px;
}
header nav.menu div.rightContainer svg.toggleTheme,
header nav.menu div.rightContainer svg.toggleMenu {
  cursor: pointer;
}

div.popUpMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding: 24px;
}
div.popUpMenu div.buttonContainer {
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
}
div.popUpMenu div.buttonContainer svg.closeMenu {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
div.popUpMenu div.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
section#intro div.container div.content {
  justify-content: space-between;
}
section#intro div.container div.content div.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}
section#intro div.container div.content div.text div.greeting {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
section#intro div.container div.content div.text div.greeting h1 {
  font-size: var(--font-size-9xl, 56px);
  display: inline-block;
}
section#intro div.container div.content div.text div.greeting h1 span {
  display: block;
}
section#intro div.container div.content div.text div.greeting div.profession {
  display: flex;
  gap: 1em;
  align-items: center;
}
section#intro div.container div.content div.text div.greeting div.profession div.line {
  height: 3px;
  background: linear-gradient(270deg, #ffffff 0%, #d0d0d0 100%);
  flex: 1;
}
section#intro div.container div.content div.text p.summary {
  font-size: var(--font-size-s, 12px);
}
section#intro div.container div.content div.text div.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  align-self: center;
}
section#intro div.container div.content div.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

section#about div.container div.content div.glass {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 12px;
  font-size: var(--font-size-s, 12px);
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section#about div.container div.content div.glass div.glassItem {
  display: flex;
  align-items: center;
  gap: 1em;
}
section#about div.container div.content div.glass div.glassItem svg {
  width: 1.25em;
  height: 1.25em;
}
section#about div.container div.content div.glass div.glassItem svg path {
  stroke: #000000;
  fill: #000000;
}
section#about div.container div.content div.glass div.glassItem svg circle {
  stroke: #000000;
}
section#about div.container div.content div.glass div.glassItem p.text {
  flex: 1;
  text-align: justify;
  font-weight: 600;
}
section#about div.container div.content div.counters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
section#about div.container div.content div.counters div.counterItem {
  text-align: center;
}
section#about div.container div.content div.counters div.counterItem h1.count {
  font-size: var(--font-size-3xl, 32px);
}
section#about div.container div.content div.counters div.counterItem p.label {
  font-weight: 600;
}
section#about div.container div.content div.counters div.counterSplitter {
  height: 2px;
  border-radius: 2px;
  width: 50%;
  background: linear-gradient(135deg, #ffffff 0%, #d0d0d0 100%);
}
section#about div.container div.content div.background {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
section#about div.container div.content div.background div.educations,
section#about div.container div.content div.background div.experiences {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section#about div.container div.content div.background div.educations > h2.educationsHeader,
section#about div.container div.content div.background div.experiences > h2.experiencesHeader {
  font-weight: 900;
  font-size: var(--font-size-xl, 24px);
}

div.backgroundItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div.backgroundItem div.backgroundDatas {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div.backgroundItem div.backgroundDatas div.backgroundDataItem {
  display: flex;
  justify-content: space-between;
  color: #424242;
  font-size: var(--font-size-s, 12px);
  font-weight: 600;
}
div.backgroundItem div.backgroundDatas div.backgroundDataItem div.times {
  display: flex;
  gap: 0.25em;
  font-size: var(--font-size-xs, 10px);
}
div.backgroundItem div.line {
  height: 2px;
  background: linear-gradient(270deg, #ffffff 0%, #d0d0d0 100%);
}

section#skills div.container div.content div.slider div.customSwiper div.swiper-wrapper {
  align-items: center;
}
section#skills div.container div.content div.slider div.customSwiper div.swiper-wrapper div.customSlider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  padding: 1em 0 !important;
}
section#skills div.container div.content div.slider div.customSwiper div.swiper-wrapper div.customSlider div.skillComponent {
  display: inline-block;
  padding: 0.5em;
  border-radius: 8px;
  font-size: var(--font-size-s, 12px);
  font-weight: 600;
  box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.2);
  background-color: #d0d0d0;
}
section#skills div.container div.content div.slider div.customPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
section#skills div.container div.content div.slider div.customPagination span.customBullet {
  width: auto;
  height: auto;
  background: transparent;
  opacity: 1;
  cursor: pointer;
}
section#skills div.container div.content div.slider div.customPagination span.currentBullet {
  font-size: var(--font-size-s, 12px);
}
section#skills div.container div.content div.slider div.customPagination span.prevBullet,
section#skills div.container div.content div.slider div.customPagination span.nextBullet,
section#skills div.container div.content div.slider div.customPagination span.prevPrevBullet,
section#skills div.container div.content div.slider div.customPagination span.nextNextBullet {
  height: 4px;
  border-radius: 4px;
}
section#skills div.container div.content div.slider div.customPagination span.prevBullet,
section#skills div.container div.content div.slider div.customPagination span.nextBullet {
  background-color: rgba(0, 0, 0, 0.75);
  width: 16px;
}
section#skills div.container div.content div.slider div.customPagination span.prevPrevBullet,
section#skills div.container div.content div.slider div.customPagination span.nextNextBullet {
  background-color: rgba(0, 0, 0, 0.5);
  width: 12px;
}
section#skills div.container div.content div.slider div.customPagination span.hiddenBullet {
  display: none;
}
section#skills div.container div.content div.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}
section#skills div.container div.content div.contactInfo div.avatar {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 6px 6px 12px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
section#skills div.container div.content div.contactInfo div.avatar img {
  width: 180px;
  filter: grayscale(0.5);
  display: block;
  transition: scale 0.5s;
}
section#skills div.container div.content div.contactInfo div.avatar:hover img {
  scale: 1.1;
}
section#skills div.container div.content div.contactInfo div.card {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 1em 2em;
  border-radius: 1em;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
section#skills div.container div.content div.contactInfo div.card p {
  font-size: var(--font-size-m, 16px);
  font-weight: 600;
}
section#skills div.container div.content div.contactInfo div.card div.socialIcons {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

section#services {
  background-color: #ffffff;
}
section#services div.container div.content div.services {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section#services div.container div.content div.services div.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
section#services div.container div.content div.services div.service div.image {
  order: 1;
}
section#services div.container div.content div.services div.service div.image div.screen {
  width: 200px;
  aspect-ratio: 3/2;
  border-radius: 0.5em;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
}
section#services div.container div.content div.services div.service div.image div.screen span.text {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #727272;
  font-size: var(--font-size-3xl, 32px);
  font-weight: 900;
}
section#services div.container div.content div.services div.service div.image div.screen span.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
section#services div.container div.content div.services div.service div.image div.screen span.icon svg {
  width: 2em;
  height: 2em;
  fill: #727272;
}
section#services div.container div.content div.services div.service div.image div.screen span.icon svg path {
  fill: inherit;
}
section#services div.container div.content div.services div.service div.text {
  order: 2;
  flex: 1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
section#services div.container div.content div.services div.service div.text h2 {
  text-align: center;
}
section#services div.container div.content div.services div.service.service1 div.image {
  padding: 1em;
}
section#services div.container div.content div.services div.service.service2 div.image {
  position: relative;
  padding: 1em;
}
section#services div.container div.content div.services div.service.service2 div.image div.screen.screen1 {
  position: absolute;
  top: 0;
  left: 0;
}
section#services div.container div.content div.services div.service.service2 div.image div.screen.screen2 {
  position: relative;
  z-index: 3;
}
section#services div.container div.content div.services div.service.service2 div.image div.screen.screen3 {
  position: absolute;
  bottom: 0;
  right: 0;
}
section#services div.container div.content div.services div.service.service3 div.image {
  position: relative;
  padding: 1em;
}
section#services div.container div.content div.services div.service.service3 div.image div.screen.screen2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
}
section#services div.container div.content div.services div.service.service3 div.image div.screen.screen3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  aspect-ratio: 2/3;
}
div.projectsGrid {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
div.projectsGrid div.grid {
  display: flex;
  gap: 1em;
}
div.projectsGrid div.grid div.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
div.projectsGrid div.moreProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
div.projectsGrid div.moreProjects p {
  font-size: var(--font-size-s, 12px);
}

div.projectContainer {
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 8px 8px 8px 0px #d0d0d0;
}
div.projectContainer:hover img {
  scale: 1.1;
}
div.projectContainer:hover div.overlay,
div.projectContainer:hover div.bottom {
  opacity: 1;
}
div.projectContainer a {
  display: block;
  position: relative;
}
div.projectContainer a div.image img {
  width: 100%;
  display: block;
  transition: scale 0.5s;
}
div.projectContainer a div.bottom {
  position: absolute;
  padding: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: var(--font-size-s, 12px);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}
div.projectContainer a div.bottom span.name {
  flex: 1;
  color: #ffffff;
}
div.projectContainer a div.bottom svg {
  height: 1em;
  fill: #ffffff;
}
div.projectContainer a div.bottom svg path {
  fill: inherit;
}
div.projectContainer a div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  transition: opacity 1s;
}

footer {
  background-color: #ffffff;
  padding: 1em 8px;
}
footer div.container div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
footer div.container div.content p {
  font-size: var(--font-size-s, 12px);
}
@media (min-width: 360px) {
  header {
    padding: 12px 0;
  }
  header nav.menu div.rightContainer {
    gap: 12px;
  }
  section#intro,
  section#about,
  section#skills,
  section#services,
  section#services,
  section#projects,
  section.projects {
    padding: 2em 0;
  }
  footer {
    padding: 1em 0;
  }
}
@media (min-width: 600px) {
  header {
    padding: 16px 0;
  }
  header nav.menu a.link:not(.logo) {
    display: block;
  }
  header nav.menu div.rightContainer {
    gap: 16px;
  }
  header nav.menu div.rightContainer svg.toggleMenu {
    display: none;
  }
  a.button,
  div.button {
    border-radius: 12px;
    outline-width: 3px;
    outline-offset: -3px;
  }
  a.socialIcon {
    padding: 0.5em;
  }
  section#intro div.container div.content {
    padding: 1em 0;
  }
  section#intro div.container div.content div.text div.greeting h1 span {
    display: inline;
  }
  section#intro div.container div.content div.text p.summary {
    font-size: var(--font-size-m, 16px);
  }
  section#intro div.container div.content div.text div.buttons {
    align-self: flex-start;
  }
  section#about div.container div.content div.glass {
    padding: 24px;
    border-radius: 24px;
  }
  section#about div.container div.content div.glass div.glassItem p.text {
    font-weight: 600;
  }
  section#about div.container div.content div.counters {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }
  section#about div.container div.content div.counters div.counterItem {
    flex: 1;
    text-align: center;
  }
  section#about div.container div.content div.counters div.counterSplitter {
    width: 4px;
    height: auto;
    border-radius: 4px;
    background: linear-gradient(135deg, #ffffff 0%, #d0d0d0 100%);
  }
  section#skills div.container div.content div.contactInfo {
    flex-direction: row;
    justify-content: center;
    gap: 3em;
  }
  footer div.container div.content {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  section#intro div.container div.content {
    flex-direction: row;
  }
  section#intro div.container div.content div.text div.greeting div.profession div.line {
    height: 6px;
  }
  section#intro div.container div.content div.socialIcons {
    flex-direction: column;
  }
  section#services div.container div.content div.services div.service {
    flex-direction: row;
  }
  section#services div.container div.content div.services div.service div.image {
    order: unset;
  }
  section#services div.container div.content div.services div.service div.image div.screen {
    width: 300px;
  }
  section#services div.container div.content div.services div.service div.text {
    order: unset;
  }
  section#services div.container div.content div.services div.service div.text h2 {
    text-align: start;
  }
  section#services div.container div.content div.services div.service.service3 div.image div.screen.screen2 {
    width: 150px;
  }
  section#services div.container div.content div.services div.service.service3 div.image div.screen.screen3 {
    width: 75px;
  }
}
@media (min-width: 1024px) {
  section#about div.container div.content div.background {
    display: flex;
    flex-direction: row;
  }
  section#about div.container div.content div.background div.educations,
  section#about div.container div.content div.background div.experiences {
    flex: 1;
  }
}
