@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../src/fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../src/fonts/PlusJakartaSans/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
  font-size: var(--font-size-m);
  color: #000000;
}

button,
input,
textarea,
select {
  outline: none;
  color: inherit;
}

*::placeholder {
  color: inherit;
}

img,
video {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 360px) {
  .container {
    max-width: 320px;
  }
}
@media (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 840px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

.text-xs {
  font-size: var(--font-size-xs, 10px);
}

.text-s {
  font-size: var(--font-size-s, 12px);
}

.text-m {
  font-size: var(--font-size-m, 16px);
}

.text-l {
  font-size: var(--font-size-l, 20px);
}

.text-xl {
  font-size: var(--font-size-xl, 24px);
}

.text-2xl {
  font-size: var(--font-size-2xl, 28px);
}

.text-3xl {
  font-size: var(--font-size-3xl, 32px);
}

.text-4xl {
  font-size: var(--font-size-4xl, 36px);
}

.text-5xl {
  font-size: var(--font-size-5xl, 40px);
}

.text-6xl {
  font-size: var(--font-size-6xl, 44px);
}

.text-7xl {
  font-size: var(--font-size-7xl, 48px);
}

.text-8xl {
  font-size: var(--font-size-8xl, 52px);
}

.text-9xl {
  font-size: var(--font-size-9xl, 56px);
}

@media (min-width: 360px) {
  :root {
    --font-size-xs: 11px;
    --font-size-s: 13px;
    --font-size-m: 17px;
    --font-size-l: 21px;
    --font-size-xl: 25px;
    --font-size-2xl: 29px;
    --font-size-3xl: 33px;
    --font-size-4xl: 37px;
    --font-size-5xl: 41px;
    --font-size-6xl: 45px;
    --font-size-7xl: 49px;
    --font-size-8xl: 53px;
    --font-size-9xl: 57px;
  }
}
@media (min-width: 600px) {
  :root {
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 28px;
    --font-size-2xl: 32px;
    --font-size-3xl: 36px;
    --font-size-4xl: 40px;
    --font-size-5xl: 44px;
    --font-size-6xl: 48px;
    --font-size-7xl: 52px;
    --font-size-8xl: 56px;
    --font-size-9xl: 60px;
  }
}
@media (min-width: 768px) {
  :root {
    --font-size-xs: 13px;
    --font-size-s: 15px;
    --font-size-m: 19px;
    --font-size-l: 25px;
    --font-size-xl: 29px;
    --font-size-2xl: 33px;
    --font-size-3xl: 37px;
    --font-size-4xl: 41px;
    --font-size-5xl: 45px;
    --font-size-6xl: 49px;
    --font-size-7xl: 53px;
    --font-size-8xl: 57px;
    --font-size-9xl: 61px;
  }
}
@media (min-width: 900px) {
  :root {
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 28px;
    --font-size-xl: 32px;
    --font-size-2xl: 36px;
    --font-size-3xl: 40px;
    --font-size-4xl: 44px;
    --font-size-5xl: 48px;
    --font-size-6xl: 52px;
    --font-size-7xl: 56px;
    --font-size-8xl: 60px;
    --font-size-9xl: 64px;
  }
}
@media (min-width: 1024px) {
  :root {
    --font-size-xs: 15px;
    --font-size-s: 17px;
    --font-size-m: 21px;
    --font-size-l: 30px;
    --font-size-xl: 34px;
    --font-size-2xl: 38px;
    --font-size-3xl: 42px;
    --font-size-4xl: 46px;
    --font-size-5xl: 50px;
    --font-size-6xl: 54px;
    --font-size-7xl: 58px;
    --font-size-8xl: 62px;
    --font-size-9xl: 66px;
  }
}
@media (min-width: 1200px) {
  :root {
    --font-size-xs: 16px;
    --font-size-s: 18px;
    --font-size-m: 24px;
    --font-size-l: 32px;
    --font-size-xl: 36px;
    --font-size-2xl: 40px;
    --font-size-3xl: 44px;
    --font-size-4xl: 48px;
    --font-size-5xl: 52px;
    --font-size-6xl: 56px;
    --font-size-7xl: 60px;
    --font-size-8xl: 64px;
    --font-size-9xl: 68px;
  }
}
@media (min-width: 1440px) {
  :root {
    --font-size-xs: 18px;
    --font-size-s: 20px;
    --font-size-m: 26px;
    --font-size-l: 34px;
    --font-size-xl: 38px;
    --font-size-2xl: 42px;
    --font-size-3xl: 46px;
    --font-size-4xl: 50px;
    --font-size-5xl: 54px;
    --font-size-6xl: 58px;
    --font-size-7xl: 62px;
    --font-size-8xl: 66px;
    --font-size-9xl: 70px;
  }
}
@media (min-width: 1600px) {
  :root {
    --font-size-xs: 20px;
    --font-size-s: 22px;
    --font-size-m: 28px;
    --font-size-l: 36px;
    --font-size-xl: 40px;
    --font-size-2xl: 44px;
    --font-size-3xl: 48px;
    --font-size-4xl: 52px;
    --font-size-5xl: 56px;
    --font-size-6xl: 60px;
    --font-size-7xl: 64px;
    --font-size-8xl: 68px;
    --font-size-9xl: 72px;
  }
}
body {
  background: linear-gradient(90deg, #ffffff 0%, #d0d0d0 100%);
}

header {
  background-color: #ffffff;
}

.dark body {
  color: #ffffff;
  background: linear-gradient(90deg, #000000 0%, #212121 100%);
}
.dark header {
  background-color: #000000;
}
.dark header nav.menu div.rightContainer svg.toggleTheme path,
.dark header nav.menu div.rightContainer svg.toggleMenu path {
  stroke: #ffffff;
  fill: #ffffff;
}
.dark header nav.menu div.rightContainer svg.toggleTheme circle,
.dark header nav.menu div.rightContainer svg.toggleMenu circle {
  stroke: #ffffff;
}
.dark div.popUpMenu {
  background-color: black;
}
.dark div.popUpMenu div.buttonContainer svg.closeMenu path {
  stroke: #ffffff;
  fill: #ffffff;
}
.dark div.popUpMenu div.buttonContainer svg.closeMenu circle {
  stroke: #ffffff;
}
.dark a.button,
.dark div.button {
  outline-color: #000000;
  color: #ffffff;
}
.dark a.button:hover,
.dark div.button:hover {
  outline-color: #ffffff;
}
.dark a.button.solid,
.dark div.button.solid {
  background: #000000;
}
.dark a.button.hasIcon span.icon svg path,
.dark div.button.hasIcon span.icon svg path {
  fill: #ffffff;
}
.dark a.socialIcon.stroke {
  border: 2px dashed #ffffff;
}
.dark a.socialIcon svg path {
  fill: #ffffff;
}
.dark section#intro div.container div.content div.text div.greeting div.profession div.line {
  background: linear-gradient(270deg, #000000 0%, #212121 100%);
}
.dark section#about div.container div.content div.glass {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.1);
}
.dark section#about div.container div.content div.glass div.glassItem svg path {
  stroke: #ffffff;
  fill: #ffffff;
}
.dark section#about div.container div.content div.glass div.glassItem svg circle {
  stroke: #ffffff;
}
.dark section#about div.container div.content div.counters div.counterSplitter {
  background: linear-gradient(315deg, #000000 0%, #212121 100%);
}
.dark div.backgroundItem div.backgroundDatas div.backgroundDataItem {
  color: #a1a1a1;
}
.dark div.backgroundItem div.line {
  background: linear-gradient(270deg, #000000 0%, #212121 100%);
}

a.button,
div.button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 12px;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  color: #000000;
  font-size: var(--font-size-xs, 10px);
  font-weight: 900;
  cursor: pointer;
  transition: all 0.25s;
}
a.button:hover,
div.button:hover {
  outline-color: #000000;
}

a.button.solid,
div.button.solid {
  background: #ffffff;
}

a.button.hasIcon,
div.button.hasIcon {
  display: inline-flex;
  align-items: center;
  gap: 1em;
}
a.button.hasIcon span.icon,
div.button.hasIcon span.icon {
  display: flex;
  align-items: center;
}
a.button.hasIcon span.icon svg,
div.button.hasIcon span.icon svg {
  width: 1em;
  height: 1em;
}
a.button.hasIcon span.icon svg path,
div.button.hasIcon span.icon svg path {
  fill: #000000;
}

a.socialIcon {
  display: inline-flex;
  width: 2em;
  height: 2em;
  padding: 0.4em;
}
a.socialIcon.stroke {
  align-items: center;
  justify-content: center;
  border: 2px dashed #000000;
  border-radius: 50%;
}
a.socialIcon:hover svg {
  scale: 1.2;
}
a.socialIcon svg {
  width: 1em;
  height: 1em;
  transition: 0.25s;
}
a.socialIcon svg path {
  fill: #000000;
}

header {
  padding: 8px;
}
header nav.menu {
  display: flex;
  justify-content: space-between;
}
header nav.menu a.link {
  font-size: var(--font-size-m, 16px);
  font-weight: 900;
}
header nav.menu a.link.logo {
  font-size: var(--font-size-l, 20px);
}
header nav.menu a.link:not(.logo) {
  display: none;
}
header nav.menu div.rightContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
header nav.menu div.rightContainer svg.toggleTheme {
  width: 24px;
  height: 24px;
}
header nav.menu div.rightContainer svg.toggleMenu {
  width: 24px;
  height: 24px;
}
header nav.menu div.rightContainer svg.toggleTheme,
header nav.menu div.rightContainer svg.toggleMenu {
  cursor: pointer;
}

div.popUpMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding: 24px;
}
div.popUpMenu div.buttonContainer {
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
}
div.popUpMenu div.buttonContainer svg.closeMenu {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
div.popUpMenu div.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
section#intro {
  padding: 1em 8px;
}
section#intro div.container div.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
section#intro div.container div.content div.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
section#intro div.container div.content div.text div.greeting {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
section#intro div.container div.content div.text div.greeting h1 {
  font-size: var(--font-size-3xl, 32px);
  display: inline-block;
}
section#intro div.container div.content div.text div.greeting div.profession {
  display: flex;
  gap: 1em;
  align-items: center;
}
section#intro div.container div.content div.text div.greeting div.profession div.line {
  height: 3px;
  background: linear-gradient(270deg, #ffffff 0%, #d0d0d0 100%);
  flex: 1;
}
section#intro div.container div.content div.text p.summary {
  font-size: var(--font-size-s, 12px);
}
section#intro div.container div.content div.text div.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  align-self: center;
}
section#intro div.container div.content div.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

section#about {
  padding: 1em 8px;
}
section#about div.container div.content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
section#about div.container div.content h1.sectionHeader {
  text-align: center;
}
section#about div.container div.content div.glass {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 12px;
  font-size: var(--font-size-s, 12px);
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section#about div.container div.content div.glass div.glassItem {
  display: flex;
  align-items: center;
  gap: 1em;
}
section#about div.container div.content div.glass div.glassItem svg {
  width: 1.25em;
  height: 1.25em;
}
section#about div.container div.content div.glass div.glassItem svg path {
  stroke: #000000;
  fill: #000000;
}
section#about div.container div.content div.glass div.glassItem svg circle {
  stroke: #000000;
}
section#about div.container div.content div.glass div.glassItem p.text {
  flex: 1;
  text-align: justify;
  font-weight: 600;
}
section#about div.container div.content div.counters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
section#about div.container div.content div.counters div.counterItem {
  text-align: center;
}
section#about div.container div.content div.counters div.counterItem h1.count {
  font-size: var(--font-size-3xl, 32px);
}
section#about div.container div.content div.counters div.counterItem p.label {
  font-weight: 600;
}
section#about div.container div.content div.counters div.counterSplitter {
  height: 2px;
  border-radius: 2px;
  width: 50%;
  background: linear-gradient(135deg, #ffffff 0%, #d0d0d0 100%);
}
section#about div.container div.content div.background {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
section#about div.container div.content div.background div.educations,
section#about div.container div.content div.background div.experiences {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section#about div.container div.content div.background div.educations > h2.educationsHeader,
section#about div.container div.content div.background div.experiences > h2.experiencesHeader {
  font-weight: 900;
  font-size: var(--font-size-2xl, 28px);
}

div.backgroundItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div.backgroundItem div.backgroundDatas {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div.backgroundItem div.backgroundDatas div.backgroundDataItem {
  display: flex;
  justify-content: space-between;
  color: #424242;
  font-size: var(--font-size-s, 12px);
  font-weight: 600;
}
div.backgroundItem div.backgroundDatas div.backgroundDataItem div.times {
  display: flex;
  gap: 0.25em;
  font-size: var(--font-size-xs, 10px);
}
div.backgroundItem div.line {
  height: 2px;
  background: linear-gradient(270deg, #ffffff 0%, #d0d0d0 100%);
}

@media (min-width: 360px) {
  header {
    padding: 12px 0;
  }
  header nav.menu div.rightContainer {
    gap: 12px;
  }
  section#intro {
    padding: 1em 0;
  }
  section#about {
    padding: 1em 0;
  }
}
@media (min-width: 600px) {
  header {
    padding: 16px 0;
  }
  header nav.menu a.link:not(.logo) {
    display: block;
  }
  header nav.menu div.rightContainer {
    gap: 16px;
  }
  header nav.menu div.rightContainer svg.toggleMenu {
    display: none;
  }
  a.button,
  div.button {
    border-radius: 12px;
    outline-width: 3px;
    outline-offset: -3px;
  }
  a.socialIcon {
    padding: 0.5em;
  }
  a.socialIcon.stroke {
    border-width: 3px;
  }
  section#intro div.container div.content {
    flex-direction: row;
    padding: 1em 0;
  }
  section#intro div.container div.content div.text div.greeting h1 {
    font-size: var(--font-size-6xl, 44px);
  }
  section#intro div.container div.content div.text p.summary {
    font-size: var(--font-size-m, 16px);
  }
  section#intro div.container div.content div.text div.buttons {
    align-self: flex-start;
  }
  section#intro div.container div.content div.socialIcons {
    flex-direction: column;
  }
  section#about div.container div.content div.glass {
    padding: 24px;
    border-radius: 24px;
  }
  section#about div.container div.content div.glass div.glassItem p.text {
    font-weight: 600;
  }
  section#about div.container div.content div.counters {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }
  section#about div.container div.content div.counters div.counterItem {
    flex: 1;
    text-align: center;
  }
  section#about div.container div.content div.counters div.counterSplitter {
    width: 4px;
    height: auto;
    border-radius: 4px;
    background: linear-gradient(135deg, #ffffff 0%, #d0d0d0 100%);
  }
}
@media (min-width: 768px) {
  section#intro div.container div.content div.text div.greeting h1 {
    font-size: var(--font-size-9xl, 56px);
  }
  section#intro div.container div.content div.text div.greeting div.profession div.line {
    height: 6px;
  }
}
@media (min-width: 1024px) {
  section#about div.container div.content div.background {
    display: flex;
    flex-direction: row;
  }
  section#about div.container div.content div.background div.educations,
  section#about div.container div.content div.background div.experiences {
    flex: 1;
  }
}
