@use '../text';
@use '../gradients';
@use '../sizes';

section#intro {
  div.container {
    div.content {
      justify-content: space-between;
      div.text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        div.greeting {
          display: flex;
          flex-direction: column;
          gap: 0.25em;
          h1 {
            font-size: text.$text-3xl;
            display: inline-block;
          }
          div.profession {
            display: flex;
            gap: 1em;
            align-items: center;
            div.line {
              height: 3px;
              background: gradients.$gradient-light-270;
              flex: 1;
            }
            div.name {
            }
          }
        }
        p.summary {
          font-size: text.$text-s;
        }
        div.buttons {
          display: flex;
          flex-wrap: wrap;
          gap: 0.25em;
          align-self: center;
        }
      }
      div.socialIcons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
      }
    }
  }
}
