@use '../colors';
@use '../sizes';
@use '../text';
@use '../gradients';
@use '../mixins';

.projectDetails {
  display: flex;
  flex-direction: column;
  gap: sizes.$size-l;

  .projectTitle {
    font-size: text.$text-2xl;
    font-weight: sizes.$font-weight-9;
  }

  .projectDescription {
    font-size: text.$text-m;
    color: colors.$gray-dark;
  }

  .detailsRow {
    display: flex;
    flex-direction: column;
    gap: sizes.$size-xs;

    .detailsRowContent {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: sizes.$size-s;

      .detailsLabel {
        white-space: nowrap;
      }

      .detailsContainer {
        justify-content: flex-end;
      }
    }

    div.line {
      height: 2px;
      background: gradients.$gradient-light-270;
    }

    &:last-child div.line {
      display: none;
    }

    &.timeline {
      .detailsRowContent {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;

        .detailsContainer {
          font-size: text.$text-s;
          color: colors.$gray-dark;
        }
      }
    }

    &.links {
      .detailsContainer {
        display: flex;
        gap: sizes.$size-s;
        flex-wrap: wrap;
      }
      .projectLink {
        @include mixins.projectDetailsLink;
      }
    }

    &.contributors {
      .detailsContainer {
        display: flex;
        gap: sizes.$size-s;
        flex-wrap: wrap;
      }
      .contributorLink {
        @include mixins.projectDetailsLink;
      }
    }

    &.techStack {
      .detailsContainer {
        display: flex;
        gap: sizes.$size-xs;
        flex-wrap: wrap;

        .techItem {
          font-size: text.$text-s;
          font-weight: sizes.$font-weight-4;
          background-color: colors.$gray-lighter;
          padding: sizes.$size-xs sizes.$size-s;
          border-radius: sizes.$size-xs;
          transition: background-color 0.2s ease;
          user-select: none;

          &:hover {
            background-color: colors.$gray-light;
          }
        }
      }
    }
  }
}
