@use '../text';
@use '../sizes';
@use '../gradients';

@media (min-width: 360px) {
  header {
    padding: sizes.$size-s 0;

    nav.menu {
      div.rightContainer {
        gap: sizes.$size-s;
      }
    }
  }

  section#intro {
    padding: 2em 0;
  }
  section#about {
    padding: 2em 0;
  }
  section#myskills {
    padding: 2em 0;
  }
  section#myservices {
    padding: 2em 0;
  }
}
@media (min-width: 600px) {
  header {
    padding: sizes.$size-m 0;

    nav.menu {
      a.link:not(.logo) {
        display: block;
      }
      div.rightContainer {
        gap: sizes.$size-m;
        svg.toggleMenu {
          display: none;
        }
      }
    }
  }

  a.button,
  div.button {
    border-radius: sizes.$size-s;
    outline-width: 3px;
    outline-offset: -3px;
  }

  a.socialIcon {
    padding: 0.5em;
    // &.stroke {
    //   border-width: 3px;
    // }
  }

  section#intro {
    div.container {
      div.content {
        flex-direction: row;
        padding: 1em 0;
        div.text {
          div.greeting {
            h1 {
              font-size: text.$text-6xl;
            }
          }
          p.summary {
            font-size: text.$text-m;
          }
          div.buttons {
            align-self: flex-start;
          }
        }
        div.socialIcons {
          flex-direction: column;
        }
      }
    }
  }

  section#about {
    div.container {
      div.content {
        div.glass {
          padding: sizes.$size-l;
          border-radius: sizes.$size-l;
          div.glassItem {
            p.text {
              font-weight: sizes.$font-weight-6;
            }
          }
        }
        div.counters {
          flex-direction: row;
          justify-content: space-evenly;
          align-items: stretch;
          div.counterItem {
            flex: 1;
            text-align: center;
          }
          div.counterSplitter {
            width: 4px;
            height: auto;
            border-radius: 4px;
            background: gradients.$gradient-light-135;
          }
        }
      }
    }
  }

  section#myskills {
    div.container {
      div.content {
        div.contactInfo {
          flex-direction: row;
          justify-content: space-evenly;
          gap: 0;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  section#intro {
    div.container {
      div.content {
        div.text {
          div.greeting {
            h1 {
              font-size: text.$text-9xl;
            }
            div.profession {
              div.line {
                height: 6px;
              }
            }
          }
        }
      }
    }
  }

  section#myservices {
    div.container {
      div.content {
        div.services {
          div.service {
            flex-direction: row;
            div.image {
              order: unset;
              div.screen {
                width: 300px;
              }
            }
            div.text {
              order: unset;
              h2 {
                text-align: start;
              }
            }
            &.service3 {
              div.image {
                div.screen {
                  &.screen2 {
                    width: 150px;
                  }
                  &.screen3 {
                    width: 75px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 900px) {
}
@media (min-width: 1024px) {
  section#about {
    div.container {
      div.content {
        div.background {
          display: flex;
          flex-direction: row;
          div.educations,
          div.experiences {
            flex: 1;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1600px) {
}
