@use '../text';
@use '../sizes';

@media (min-width: 360px) {
  header {
    padding: sizes.$size-s 0;

    nav.menu {
      div.rightContainer {
        gap: sizes.$size-s;
      }
    }
  }

  section#intro {
    padding: 1em 0;
  }
}
@media (min-width: 600px) {
  header {
    padding: sizes.$size-m 0;

    nav.menu {
      a.link:not(.logo) {
        display: block;
      }
      div.rightContainer {
        gap: sizes.$size-m;
        svg.toggleMenu {
          display: none;
        }
      }
    }
  }

  a.button,
  div.button {
    border-radius: sizes.$size-s;
    outline-width: 3px;
    outline-offset: -3px;
  }

  a.socialIcon {
    padding: 0.5em;
    &.stroke {
      border-width: 3px;
    }
  }

  section#intro {
    div.container {
      div.content {
        flex-direction: row;
        padding: 1em 0;
        div.text {
          div.greeting {
            h1 {
              font-size: text.$text-6xl;
            }
          }
          p.summary {
            font-size: text.$text-m;
          }
          div.buttons {
            align-self: flex-start;
          }
        }
        div.socialIcons {
          flex-direction: column;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  section#intro {
    div.container {
      div.content {
        div.text {
          div.greeting {
            h1 {
              font-size: text.$text-9xl;
            }
            div.profession {
              div.line {
                height: 6px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 900px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1600px) {
}
