@use './sizes';
@use './text';

section {
  &#intro,
  &#about,
  &#skills,
  &#services,
  &.projects,
  &#projects,
  &#projectDetails {
    padding: 2em sizes.$size-xs;
  }

  div.content {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  h1.sectionHeader {
    text-align: center;
    font-size: text.$text-3xl;
    font-weight: sizes.$font-weight-9;
  }
}
