@use 'colors';

@mixin light-glass {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
}
@mixin dark-glass {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.1);
}

@mixin svg-white {
  path {
    stroke: colors.$white;
    fill: colors.$white;
  }
  circle {
    stroke: colors.$white;
  }
}

@mixin svg-black {
  path {
    stroke: colors.$black;
    fill: colors.$black;
  }
  circle {
    stroke: colors.$black;
  }
}
