@use 'colors';
@use 'sizes';
@use 'text';

@mixin light-glass {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
}
@mixin dark-glass {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.1);
}

@mixin svg-white {
  path {
    stroke: colors.$white;
    fill: colors.$white;
  }
  circle {
    stroke: colors.$white;
  }
}

@mixin svg-black {
  path {
    stroke: colors.$black;
    fill: colors.$black;
  }
  circle {
    stroke: colors.$black;
  }
}

@mixin svg-color($color) {
  fill: $color;
  path {
    fill: inherit;
  }
}

@mixin projectDetailsLink {
  font-size: text.$text-s;
  font-weight: sizes.$font-weight-4;
  background-color: colors.$gray-lighter;
  padding: sizes.$size-xs sizes.$size-s;
  border-radius: sizes.$size-xs;
  text-decoration: none;
  transition: background-color 0.2s ease;
  user-select: none;

  &:hover {
    background-color: colors.$gray-light;
  }
}
