@use './colors';
@use './gradients';

@import 'mixins';

body {
  background: gradients.$gradient-light-90;
}

header {
  background-color: colors.$white;
}

.dark {
  body {
    color: #ffffff;
    background: gradients.$gradient-dark-90;
  }

  header {
    background-color: colors.$black;

    nav.menu {
      div.rightContainer {
        svg.toggleTheme,
        svg.toggleMenu {
          @include svg-white;
        }
      }
    }
  }

  div.popUpMenu {
    background-color: black;
    div.buttonContainer {
      svg.closeMenu {
        @include svg-white;
      }
    }
  }

  a.button,
  div.button {
    outline-color: colors.$black;
    color: colors.$white;
    &:hover {
      outline-color: colors.$white;
    }
  }
  a.button.solid,
  div.button.solid {
    background: colors.$black;
  }
  a.button.hasIcon,
  div.button.hasIcon {
    span.icon {
      svg {
        path {
          fill: colors.$white;
        }
      }
    }
  }

  a.socialIcon {
    &.stroke {
      border-color: colors.$white;
    }
    svg {
      @include svg-color(colors.$white);
    }
  }

  section#intro {
    div.container {
      div.content {
        div.text {
          div.greeting {
            div.profession {
              div.line {
                background: gradients.$gradient-dark-270;
              }
            }
          }
        }
      }
    }
  }

  section#about {
    div.container {
      div.content {
        div.glass {
          @include dark-glass;
          div.glassItem {
            svg {
              @include svg-white;
            }
          }
        }
        div.counters {
          div.counterSplitter {
            background: gradients.$gradient-dark-315;
          }
        }
      }
    }
  }

  div.backgroundItem {
    div.backgroundDatas {
      div.backgroundDataItem {
        color: colors.$gray-light;
      }
    }
    div.line {
      background: gradients.$gradient-dark-270;
    }
  }

  section#myskills {
    div.container {
      div.content {
        div.slider {
          div.customSwiper {
            div.swiper-wrapper {
              div.customSlider {
                div.skillComponent {
                  box-shadow: 2px 2px 8px -2px rgba(255, 255, 255, 0.1);
                }
              }
            }
          }
          div.customPagination {
            span.prevBullet,
            span.nextBullet {
              background-color: rgba(255, 255, 255, 0.75);
            }
            span.prevPrevBullet,
            span.nextNextBullet {
              background-color: rgba(255, 255, 255, 0.5);
            }
          }
        }
        div.contactInfo {
          div.avatar {
            box-shadow: 6px 6px 12px -2px rgba(255, 255, 255, 0.1);
          }
          div.card {
            @include dark-glass;
            div.socialIcons {
              border-top: 1px solid rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
    }
  }

  section#myservices {
    background-color: colors.$black;
    div.container {
      div.content {
        div.services {
          div.service {
            div.image {
              div.screen {
                @include dark-glass;
              }
            }
          }
        }
      }
    }
  }
}
