@use './colors';
@use './tools';

@mixin whitesvg {
  path {
    stroke: colors.$white;
    fill: colors.$white;
  }
  circle {
    stroke: colors.$white;
  }
}

body {
  background: tools.$gradient-light-90;
}

header {
  background-color: colors.$white;
}

.dark {
  body {
    color: #ffffff;
    background: tools.$gradient-dark-90;
  }

  header {
    background-color: colors.$black;

    nav.menu {
      div.rightContainer {
        svg.toggleTheme,
        svg.toggleMenu {
          @include whitesvg;
        }
      }
    }
  }

  div.popUpMenu {
    background-color: black;
    div.buttonContainer {
      svg.closeMenu {
        @include whitesvg;
      }
    }
  }

  a.button,
  div.button {
    outline-color: colors.$black;
    color: colors.$white;
    &:hover {
      outline-color: colors.$white;
    }
  }
  a.button.solid,
  div.button.solid {
    background: colors.$black;
  }
  a.button.hasIcon,
  div.button.hasIcon {
    span.icon {
      svg {
        path {
          fill: colors.$white;
        }
      }
    }
  }

  a.socialIcon {
    &.stroke {
      border: 2px dashed colors.$white;
    }
    svg {
      path {
        fill: colors.$white;
      }
    }
  }

  section#intro {
    div.container {
      div.content {
        div.text {
          div.greeting {
            div.profession {
              div.line {
                background: tools.$gradient-dark-270;
              }
            }
          }
        }
      }
    }
  }
}
